.main-wallet-button a {
    background: linear-gradient(
      180deg,
      rgba(73, 180, 207, 1) 0%,
      rgba(0, 149, 186, 1) 100%
    );
    box-shadow: 5px 5px 25px rgb(0 177 227 / 31%);
    font-size: 14px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    line-height: 55px;
    height: 55px;
    padding: 0 40px;
    margin-top: 30px;
    color: #fff;
    text-decoration: none;
  }