.position {
    position: absolute;
    top: 0;
}
.relative {
    position: relative;
}
.heart {
    animation: p 0.2s ease-in-out;
    path {
        width: 24px;
        height: 24px;
        fill: blue;
    }
}
@keyframes p {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
