@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family:'Montserrat', sans-serif;
}
.item-1{
    display: flex;
}
.btn{
    width: 50px;
    height: 30px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border-color: blueviolet;
    background-color:aliceblue;
    color:rgb(34, 28, 63);
    border-radius: 4px;
}
.number{
    font-size: 35px;
    padding: 0 20px;
    font-family:'Montserrat', sans-serif;
}
.reset{
    font-size: 16px;
}